<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app"></div>

    <template id="tmp">
        <h3>搜索词：{{searchVal}}</h3>
        <input type="text" v-model="searchVal">

        <div>
            <h3>协议：</h3>
            <label for="agree">
                <input type="checkbox" id="agree" v-model="isAgree">
            </label>
        </div>

        <!-- 多选框 -->
        <div>
            <h3>你的爱好：{{hobbies}}</h3>
            <label for="basketball">
                <input type="checkbox" v-model="hobbies" id="basketball" value="basketball">篮球
            </label>
            <label for="football">
                <input type="checkbox" v-model="hobbies" id="football" value="football">足球
            </label>
            <label for="basketball">
                <input type="checkbox" v-model="hobbies" id="basketball" value="basketball">篮球
            </label>
        </div>

        <!-- 下拉框 -->
        <div>
            <h3>喜欢的水果：{{fruits}}</h3>
            <select v-model="fruits">
                <option value="apple">苹果</option>
                <option value="orange">橘子</option>
                <option value="babana">香蕉</option>
            </select>
        </div>

    </template>
</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const obj = {
        template: '#tmp',
        data() {
            return {
                searchVal: '',
                isAgree: false,
                hobbies: [],
                fruits: ''
            }
        },
        methods: {

        }
    }
    Vue.createApp(obj).mount('#app')
</script>

</html>